<div class="jumbotron">
  <h2 class="text-center">Make URL shorter!</h2>

  <%= simple_form_for @url, html: { class: "text-center" } do |f| %>
    <%= f.input :original_url, as: :string, placeholder: "Enter the URL you want to shorten...", label: false %>
    <%= f.submit "Shorten!", class: "btn btn-primary" %>
  <% end %>
</div>
