<div class="jumbotron col-12 text-center">
  <h2>Well done! Get your shorter link!</h2>
  <%= link_to 'Next url', root_path, class: 'btn btn-primary' %>
</div>

<div class="col-12">
  <div class="card text-center">
    <div class="card-header">
      Your original url was:
    </div>
    <div class="card-body">
      <input class="form-control" type="text" value="<%= @url.original_url %>">
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card text-center">
    <div class="card-header">
      Shorter URL is:
    </div>
    <div class="card-body">
       <%= request.base_url %>/<%= @url.short_url %>
    </div>
  </div>
</div>
