<% if flash.any? %>
    <div class="row flashes">
      <div class="col-md-8 col-md-offset-2">
        <% flash.each do |msg_type, message| %>
            <%= flash_message(msg_type, message) %>
        <% end %>
      </div>
    </div>
<% end %>
